<div class="background-image"></div>
<! -- ********** HEADER ********** -->
<div id="h">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 mt">
        <h3><%= top_subtitle %></h3>

        <h1 class="mb"><%= title %></h1>
      </div>
    </div>
    <div class="row mb">
      <div class="col-sm-4 col-sm-offset-4">
        <%= simple_form_for(@invitation) do |f| %>
          <div class="form-group">
            <%= f.input :email, label: false, input_html: {class: 'form-control'}, as: :email, placeholder: "Enter your e-mail address..." %>
            <%= f.button :submit, "Yes, Please", class: 'btn btn-lg btn-block btn-sub' %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="row">
      <p><%= title.downcase %> was created to help us communicate with eachother.</p>
    </div>

    <div class="row">
      <div class="col-md-6 col-md-offset-3 mt">
        <p class="lead text-white">
        <blockquote>
          “I’ve come to believe that connecting is one of the most important business—and life—skill sets you’ll ever learn. Why? Because, flat out, people do business with people they know and like. Careers—in every imaginable field—work the same”
        </blockquote>
        </p>
      </div>
    </div>
  </div>
  <! --/container -->
</div>
<! --/h -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="assets/js/retina-1.1.0.js"></script>
